logs
project/project
project/target
target
!project/target/web/public/main/lib/bootstrap
!target/web/public/main/lib/bootstrap
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
