logs
project/project
project/target
target/resolution-cache
target/scala-2.11
target/streams
target/test-reports
target/web/public/test
target/web/public/main/images
target/web/public/main/javascripts
target/web/public/main/lib/jquery
target/web/public/main/lib/requirejs
target/web/public/main/stylesheets
target/web/web-modules
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
