
body {
    //background-color: @kolorek;
    margin: auto;
    //max-width: 800px;
    //text-align: center;
}
.info {
    display: none;
}
dd.error {
    color: #ff0000;
}
.noteForm {
    margin-left: auto;
    margin-right: auto;
}
#note-Form dl dt{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
dl dt {
    float: left;
}
media=screen
@media (min-width: 1200px)
.container (@media){
    wdth: 800px;
}
/*
.content {
    text-align: center;
    margin: auto;
}

.content dl dt{
    margin: auto;
}
*/