@import helper._
@(noteForm: Form[Note], mapDBs: Map[String, String])

@main("note") {
    @form(action = routes.Application.save(), 'class -> "form-horizontal", 'id -> "noteForm") {
        @inputText(noteForm("Name"), 'class -> "form-control", '_label -> "Imie:")
        @inputText(noteForm("Surname"), 'class -> "form-control",'_label -> "Nazwisko:")
        @inputDate(noteForm("Birthday"), 'class -> "form-control",'_label -> "Data urodzenia:")
        @inputText(noteForm("Email"), 'class -> "form-control",'_label -> "e-mail:")
        @select(noteForm("PrefDatabase"), options(mapDBs), 'class -> "form-control",'_label -> "Twoja ulubiona baza SQL:")
        @textarea(noteForm("Notes"), 'class -> "form-control",'_label -> "Notatka:")
        <input class="btn"type="submit" value="send">
        }
}
